# Assignment 2

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("Pokemon.csv")
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
speed_mean = data["Speed"].mean()
def set_speed(val):
    if val< speed_mean:
        return "Speed low"
    elif val==speed_mean:
        return "Speed Neutral"
        
    else:
        return "Speed High"

In [6]:
speed_mean

68.2775

In [7]:
data["Speed_High_Low"] = data["Speed"].apply(set_speed)

In [8]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Speed High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Speed High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed low

In [9]:
data['Speed_High_Low']

0       Speed low
1       Speed low
2      Speed High
3      Speed High
4       Speed low
          ...
795     Speed low
796    Speed High
797    Speed High
798    Speed High
799    Speed High
Name: Speed_High_Low, Length: 800, dtype: object

In [10]:
hp_mean = data["HP"].mean()
def set_hp(val):
    if val< hp_mean:
        return "HP low"
    elif val==hp_mean:
        return "HP Neutral"
        
    else:
        return "HP High"

In [11]:
data["HP_High_Low"] = data["HP"].apply(set_hp)

In [12]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Speed_High_Low,HP_High_Low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Speed low,HP low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Speed low,HP low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Speed High,HP High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Speed High,HP High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Speed low,HP low

In [13]:
data['HP_High_Low']

0       HP low
1       HP low
2      HP High
3      HP High
4       HP low
        ...
795     HP low
796     HP low
797    HP High
798    HP High
799    HP High
Name: HP_High_Low, Length: 800, dtype: object